*{
    background: oklab(96.492% 0.00102 0.00021);
}

h1{
    background: lch(68.98% 25.87 21.87);
    color: #3c0876;
}

#submitbutton{
    background: #cabcbc;
    color: blue;
}

.kuchbhi{
    color: rgb(93, 5, 5);
}

label{

    color: aqua;
}
input{
    background: #900769;
    color: rgb(63, 18, 118);
}

p{
    
    color: #3c0876;
}
