body{
    text-align: center;
    background: #c6d0d4;
    text-decoration: underline;
    text-shadow: #c6d0d4;
    
}

.main{



    text-align: center;
    background: #073665;
    color: aqua;
    border-style: ridge;
    border-width: 1ch;


}


#card
{
    text-align: center;
    background: #a89494;
    width : 500px;
    height : 300px;
    border-radius: 1cap;
    box-shadow: #1e0f57;
    border-style: dotted;
    

    h3{
        color: #1e0f57;
    }
}

#card p{
    background: #b6cac0;
    color: #1e0f57;
    border: 10px groove black;
    height: 230px;
    overflow: auto;
    
}

#clickbtn {
    background: #414104;
    color: #d6d9c9;
    border-color:rgb(129, 11, 62) ;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px 1px gray;
}

#clickbtn:hover{
    background: #c7c4ca;
    color: #044d28;

}

#clickbtn:active{
    background: #951b84;
    color: rgb(7, 39, 67);
    
}

