*
{
    background: #927070;
}


#div
{
    margin: 30px;
    padding: 40px;
    background-color: lab(76.26% 16.68 6.37);
    align-items: center;
    justify-content: space-around;
   
}

.label{
  justify-content: space-between;
    



}